# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ARProject.iml
# Datasource local storage ignored files
/../../../../../../../../:\PersonalWorks\UnityProjekts\AR_Proj\ARProject\.idea\.idea.ARProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
